{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car rental</title>
    <link rel="stylesheet" href="{% static 'rental/register/register.css' %}">
</head>
<body>
    {%include "rental/login/navigation.html" %}
    <div class="home-content">
    <h1>Login</h1>
        <form method="post">
            {% csrf_token %}
            {{ login_form }}
            <button type="submit">Login</button>
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </form>
    </div>
</body>