.usernav {
    background-color: white;
    overflow: hidden;
    position:sticky;
    width:100%;
}

.usernav > a {
    font-family: "Arial";
    color: black;
    float: left;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.usernav > a:hover {
    background-color: #d0cfcf;
    color: black;
}

.usernav > a.active {
    background-color: lightgray;
    color: black;
}