{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car rental</title>
    <link rel="stylesheet" href="{% static 'rental/rent/style.css' %}">
</head>
<body>
        {%include "rental/rent/navigation.html" %}
        <form method="get" id="searchbar">
            {{ form }}
            <input type="submit" value="Search">
            </select>
        </form>
        <div class="car-container">
            {% for car in cars %}
            <div class="car" onclick="location.href = '{{ car.id }}'">
                    <img src="{{ car.image.url|slice:"7:" }}" width="194" height="120">
                    <h5>{{ car.name|upper }}</h5>
                    <h5>PRICE: {{ car.price }}</h5>
            </div>
            {% endfor %}
        </div>
</body>
